<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
            <img src="/images/albatrossb.png" alt="brunston_albatross" style="width:125px;height:42px;">
    		<ul>
    		    <li><a href="/">bio/projects</a></li>
        	    <li><a href="/contact">contact</a></li>
    		    <li><a href="https://albatrossian.xyz/">the albatrossian</a></li>
		    <li><a href="https://mtwshngtn.github.io/">mtwshngtn</a></li>
                    <li><a href="http://bread.brunston.io/">bread</a></li>
            </ul>
		</nav>
		<div class="container" style="text-align: justify">

    {{content}}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="http://brunston.io/">© 2016-2021 Brunston Poon</a>
			    <li><a href="/pgp">D501 2542 C5E5 1224</a>
            </ul>
		</footer>
        {% include analytics.html %}
	</body>
</html>
